div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.slider-pro {
	/*height: 550px;*/
	width: 740px !important;
}
.nav-tabs_top-header {
	margin-top: 20px !important;
}
.nav-tabs_top-header li {
    margin-right: 20px;
	font-size: 15px !important;
}

.widget-content {
	font: 13px/1.8571 sans-serif;
}
.entry-content h3 {
	margin-top: 40px;
	margin-bottom: 10px;
}
.fixed {
	position: fixed;
	top: 40px;
}
.table-container {
	margin-bottom: 30px;
}

@media (max-width:991px) {
	#sidebar {
		display: none;
	}
}
@media (max-width: 450px) {

	.typography-last-elem {
		border: 0;
	}
	.typography-last-elem tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #a0a0a0;
	}
	.typography-last-elem td {
		min-height: 57px;
		display: block;
		text-align: right;
		font-size: 13px;
		border: 0;
		border-bottom: 1px dotted #a0a0a0;
		width: 100%;
	}
	.typography-last-elem td.td_name {
		text-transform: uppercase;
		font-weight: bold;
	}
	.typography-last-elem td:last-child {
		border-bottom: 0;
	}
	.typography-last-elem td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		padding: 0 8px;
		background: #eee;
	}

}
.b-post_img-bg .entry-main.section-block-nophoto {
	position: relative !important;
}
.section-block-nophoto {
	padding: 30px 30px 27px 30px !important;
	background-image: none !important;
}
.section-block-nophoto .hov-title__inner, .section-block-nophoto .entry-content {
	color: #222 !important;
}
.block_photo {
	min-height: 430px;
}
.nav-tabs {
    text-align: left !important;
}
.section-area .nav > li > a {
    padding: 5px 0px !important;
    border-width: 0 0 2px 0;
    border-bottom-style: solid;
}