div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.list.col-md-4 {
	padding: 0 15px;
}
.list.col-md-4:nth-child(1), .list.col-md-4:nth-child(2) {
	border-right: 1px solid #eaeaeb;
}