.ui-autocomplete {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.narrow-results {
    margin: 0 0 20px 1.5%;
    border-bottom: 1px solid #ddd;
}

.narrow-results .narrow-form {
    position: relative;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.narrow-results .narrow-form .submit-narrow {
    position: absolute;
    width: 50px;
    top: 1px;
    height: 33px;
    bottom: 0;
    right: 52.5%;
    cursor: pointer;
    border: 0;
    outline: none;
}
#menu-container .ui-autocomplete{
    padding-left: 10px;
}
#menu-container .ui-autocomplete .ui-menu-item {
    padding: 2px;
}
#menu-container .ui-autocomplete .ui-state-focus{
    border: none !important;
}
.form-control { margin-bottom: 10px !important;
    font-size: 15px !important;
    line-height: 33px;
    height: 33px;
    padding: 0 33px 0 10px !important;}