.bx-filter .bx-filter-section {
	position: relative;
	background: #f9f9f9;
}

.bx-filter .bx-filter-title {
	margin-bottom: 10px;
	color: #000;
	font-size: 18px;
}

/*Sections*/

.bx-filter .bx-filter-parameters-box { position: relative; }

.bx-filter .bx-filter-parameters-box-title {
	padding-bottom: 7px;
	font-size: 13px;
}

.bx-filter .bx-filter-parameters-box-title span {
	border-bottom: 1px solid transparent;
	color: #039be5;
	cursor: pointer;
}
.ts-border-bottom{
	border-bottom-color: #3b455838 !important;
}
.bx-filter .bx-filter-parameters-box-title span:hover { border-color: #039be5; }

.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title span { }

.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title span:hover { border-color: transparent; }

.bx-filter .bx-filter-block {
	display: none;
	box-sizing: content-box;
	transition: padding .3s ease;
}

.bx-filter .bx-filter-button-box .bx-filter-block,
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block { display: block; }

.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub {
	display: block;
	padding-bottom: 5px;
	font-style: normal;
	font-size: 14px;
}

.bx-filter-parameters-box-container .checkbox:first-child { margin-top: 0; }

/*
* INPUTS
*
*/

.bx-filter .bx-filter-input-container { }

.bx-filter .bx-filter-input-container input { display: block; }

.bx-ios .bx-filter .bx-filter-input-container input {
	/* Fix of input shadow for IOS browsers. */
	background-image: -webkit-linear-gradient(#fff 0%, #fff 100%);
	background-image: linear-gradient(#fff 0%, #fff 100%);
}

.bx-filter-input-container input:focus { border-color: var(--theme-color-light); }

/*
*Track
*
*/

.bx-filter .bx-ui-slider-track-container { padding: 25px 18px 25px; }

.bx-filter .bx-ui-slider-track {
	position: relative;
	height: 7px;
	background: #e7e7e7;
}

.bx-filter .bx-ui-slider-part {
	position: absolute;
	top: -6px;
	width: 1px;
	height: 17px;
	background: #a2bfc7;
}

.bx-filter .bx-ui-slider-part.p1 { left: -1px; }

.bx-filter .bx-ui-slider-part.p2 { left: 25%; }

.bx-filter .bx-ui-slider-part.p3 { left: 50%; }

.bx-filter .bx-ui-slider-part.p4 { left: 75%; }

.bx-filter .bx-ui-slider-part.p5 { right: -1px; }

.bx-filter .bx-ui-slider-part span {
	position: absolute;
	top: -16px;
	left: 50%;
	display: block;
	margin-left: -50px;
	width: 100px;
	color: #000;
	text-align: center;
	font-size: 11px;
}

.bx-filter .bx-ui-slider-part.p2 span,
.bx-filter .bx-ui-slider-part.p3 span,
.bx-filter .bx-ui-slider-part.p4 span { color: #6b8086; }

.bx-filter .bx-ui-slider-range,
.bx-filter .bx-ui-slider-pricebar,
.bx-filter .bx-ui-slider-pricebar-vd,
.bx-filter .bx-ui-slider-pricebar-vn,
.bx-filter .bx-ui-slider-pricebar-v {
	position: absolute;
	top: 0;
	bottom: 0;
}

.bx-filter .bx-ui-slider-range { z-index: 50; }

.bx-filter .bx-ui-slider-pricebar { z-index: 100; }

.bx-filter .bx-ui-slider-pricebar-vd {
	z-index: 60;
	background: #b1b1b1;
}

.bx-filter .bx-ui-slider-pricebar-vn {
	z-index: 70;
	background-color: var(--theme-color-light); }

.bx-filter .bx-ui-slider-pricebar-v {
	z-index: 80;
	background-color: var(--theme-color-primary);
}

.bx-filter .bx-ui-slider-handle {
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border:7px solid var(--theme-color-primary);
}

.bx-filter .bx-ui-slider-handle:hover {
	cursor: grab;
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;
}

.bx-filter .bx-ui-slider-handle:active {
	cursor: grabbing;
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;
}

.bx-filter .bx-ui-slider-handle.left {
	left: 0;
	margin-left: -14px;
	border-left: 7px solid transparent;
	border-top: 7px solid transparent;

}

.bx-filter .bx-ui-slider-handle.right {
	right: 0;
	margin-right: -14px;
	border-right: 7px solid transparent;
	border-top: 7px solid transparent;
}

/*
*	Select
*
*/

.bx-filter .bx-filter-select-container {
	display: block;
	box-sizing: border-box;
	height: 35px;
	border: 1px solid #ccd5db;
	border-radius: 3px;
}

.bx-filter .bx-filter-select-container:hover { border-color: var(--theme-color-light); }

.bx-filter .bx-filter-select-container.bx-active,
.bx-filter .bx-filter-select-container:focus { border-color: var(--theme-color-primary); }

.bx-filter .bx-filter-select-block {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0 33px 0 10px;
	width: 100%;
	height: 33px;
	border: none;
	border-radius: 2px;
	background: #fff;
}

.bx-filter .bx-filter-select-text {
	overflow: hidden;
	max-width: 100%;
	height: 33px;
	vertical-align: middle;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
	line-height: 33px;
	cursor: pointer;
}

.bx-filter .bx-filter-select-text.fix { min-width: 120px; }

.bx-filter .bx-filter-select-text label { cursor: pointer; }

.bx-filter .bx-filter-select-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 33px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAG0lEQVQY02OYOXPmf1yYAQRwSsAATglkBch8ADy7LKHqFrgoAAAAAElFTkSuQmCC') no-repeat center;
	cursor: pointer;
}

/*
*	Select popup
*
*/

.bx-filter-select-popup {
	padding: 0;
	min-width: 173px;
	background: #fff;
}

.bx-filter-select-popup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-filter-select-popup ul li {
	display: block;
	vertical-align: middle;
	text-align: left;
}

.bx-filter-select-popup ul li:first-child {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.bx-filter-select-popup ul li label {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 5px;
	width: 100%;
	height: 26px;
	color: #575757;
	vertical-align: middle;
	text-align: left !important;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 26px;
	cursor: pointer;
}

.bx-filter-select-popup ul li label.selected,
.bx-filter-select-popup ul li label:hover {
	background: #f3f8fa;
	color: #000;
}

.bx-filter-select-popup ul li label.disabled {
	background: transparent;
	color: #b8b8b8;
}

.bx-filter-select-popup ul li .bx-filter-param-text { line-height: 34px !important; }

/*
* TAGS
*
*/

.bx-filter .bx-filter-tag {
	padding: 18px;
	border-top: 1px solid var(--theme-color-light);
	border-bottom: 1px solid var(--theme-color-light);
}

.bx-filter .bx-tag-link {
	color: var(--theme-color-light);
	text-decoration: none;
	text-shadow: none;
	font-size: 12px;
}

.bx-filter .bx-tag-link.bx-active,
.bx-filter .bx-tag-link:hover { color: #1d3d46; }

/*
*	LABEL
*
*/
.bx-filter .bx-filter-param-label {
	min-height: 20px;
	font-weight: normal;
	cursor: pointer;
}

.bx-filter .bx-filter-param-btn-inline .bx-filter-param-label {
	display: block;
	float: left;
	margin-right: 5px;
}

.bx-filter .bx-filter-param-btn-block .bx-filter-param-label { display: block; }

.bx-filter .bx-filter-param-label { }

.bx-filter .bx-filter-param-label.dib { display: inline-block; }

.bx-filter .bx-filter-param-text { font-weight: normal; }

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-text { color: #6c6c6c; }

.bx-filter-select-popup .bx-filter-param-label.bx-active { background: #f3f8fa; }

/*
*	Checkbox / Radio 
*
*/

/*
* 	BTN 
*
*/

.bx-filter .bx-filter-param-btn {
	position: relative;
	display: inline-block;
	padding: 6px;
	width: 38px;
	height: 38px;
	border: 1px solid #ccd5db;
	border-radius: 2px;
	background: #fff;
	color: #000;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
	transition: border .3s ease, box-shadow .1s ease, color .3s ease;
}

.bx-filter.bx-blue .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter.bx-blue .bx-filter-param-btn:hover,
.bx-filter.bx-blue .bx-filter-param-btn:active,
.bx-filter.bx-blue .bx-filter-param-btn:focus { border-color: var(--theme-color-light); }

/* COLOR */
/* --- colors */
.bx-filter .bx-filter-param-btn.bx-color-sl { }

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl {
	background: transparent;
	box-shadow: none
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl { position: relative; }

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/UlEQVQ4y5WSQQ6CQAxFOSBuwAtoAitc4R6MkKgYJULUi8Ax4DgKm9o/45BxBBNJmkB/33T6qUVEHkfDUXHY1sQD7V2DWg+JJox3lOZ3enYdf5IzAjnQkvxGa64Fg2S9PV3JXa4ozoovWEGbY0nOIqDkfIVeQ5hBAOQsAy5guO8FbEJxVqqDZ+rUuQ6rziJ3VLkBcs05BBxlF1nIADrJESYgE0YhAER0KH5DphEKFDNPuG1AhTAi4jnRWV17FNYhcT3NHLzLzuUnjI0YHP203EWY8ENqNsAq5Y3Qf4NuhIT7wTBsDxgIbRjvCfCUe6ozoFCuXIukj5c/lhy1/gvSDM3b8PrjegAAAABJRU5ErkJggg==") no-repeat center;
	content: ' ';
	opacity: .7;
}

.bx-filter .bx-filter-param-btn .bx-filter-param-text { line-height: 26px; }

/*
* BTN P/M
*
*/

.bx-filter .bx-filter-param-btn.bx-spm {
	padding: 0;
	min-width: 23px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: transparent;
	color: #767b7e;
	vertical-align: top;
	font-weight: normal;
	font-size: 17px;
	line-height: 23px;
}

.bx-filter .bx-filter-param-btn.bx-spm.bx-plus { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAANUlEQVQoz2NgwAQsQMzJQCSwAeKGQa7YFKoAhmOgim3QsAxIcSFUkhC2GaqhgQ4UgNgFmwQAij8OUFmBFssAAAAASUVORK5CIIA=") no-repeat center; }

.bx-filter .bx-filter-param-btn.bx-spm.bx-minus { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAG0lEQVQYV2NgYGDgBuI4AlgGiBn4gLicAFYGAAFkBwE95V42AAAAAElFTkSuQmCC") no-repeat center; }

.bx-filter .bx-filter-param-btn.bx-spm:active {
	outline: none !important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
}

.bx-filter span.bx-spm {
	display: inline-block;
	margin: 0 10px;
	height: 23px;
	color: #000;
	vertical-align: middle;
	font-size: 18px;
	line-height: 23px;
}

/*
*	icon
*
*/

.bx-filter-select-popup .bx-filter-select-text-icon,
.bx-filter .bx-filter-select-text-icon {
	position: relative;
	display: inline-block;
	margin-top: -4px;
	margin-right: 2px;
	width: 23px;
	height: 23px;
	border-radius: 2px;
	vertical-align: middle;
	line-height: 33px;
}

.bx-filter-select-popup .bx-filter-btn-color-icon,
.bx-filter .bx-filter-btn-color-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 2px;
	background-size: cover;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
	vertical-align: middle;
	line-height: 24px;
	-webkit-background-size: cover;
}

.bx-filter-select-popup .bx-filter-btn-color-icon {
	top: 0 !important;
	margin: 2px 0;
	width: 20px;
	height: 20px;
}

.bx-filter .bx-filter-select-block .bx-filter-btn-color-icon { top: -1px !important; }

.bx-filter-btn-color-icon.all {
	position: relative;
	border: none;
	box-shadow: none
}

.bx-filter-btn-color-icon.all:after,
.bx-filter-btn-color-icon.all:before {
	position: absolute;
	width: 60%;
	height: 60%;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
	content: " ";
}

.bx-filter-btn-color-icon.all:after {
	right: 0;
	bottom: 0;
}

.bx-filter-btn-color-icon.all:before {
	top: 0;
	left: 0;
}

.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon { opacity: .2; }

/*
* 	BIZ
*
*/

.bx-filter .bx-filter-parameter-biz {
	display: inline-block;
	margin-right: 10px;
	border-bottom: 1px dashed;
	color: #1485ce;
	text-decoration: none;
	font-size: 14px;
	line-height: 15px;
}

.bx-filter .bx-filter-parameter-biz:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}

.bx-filter .bx-filter-parameter-biz.bx-active {
	position: relative;
	border-color: transparent;
	color: #000;
}

/*
*	BTN result and reset 
*
*/

.btn-themes { color: #fff }

.btn-themes.bx-active,
.btn-themes.focus,
.btn-themes:active,
.btn-themes:focus,
.btn-themes:hover { color: #fff }

/*
* 	Result Popup
*
*/

.bx-filter .bx-filter-popup-result {
	position: absolute;
	z-index: 915;
	display: none;
	margin-top: -7px;
	margin-left: 10px;
	padding: 0 10px;
	min-height: 37px;
	border: 1px solid #c6dce7;
	color: #3f3f3f;
	white-space: nowrap;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}

.bx-filter .bx-filter-popup-result.left {
	border-width: 2px 10px 2px 2px;
	-webkit-border-image: url(images/result_popup_left.png) 4 20 4 4 repeat;
	-moz-border-image: url(images/result_popup_left.png) 4 20 4 4 repeat;
	-o-border-image: url(images/result_popup_left.png) 4 20 4 4 repeat;
	border-image: url(images/result_popup_left.png) 4 20 4 4 fill repeat;
}

.bx-filter .bx-filter-popup-result.right {
	border-width: 2px 2px 2px 10px;
	-webkit-border-image: url(images/result_popup_right.png) 4 4 4 20 repeat;
	-moz-border-image: url(images/result_popup_right.png) 4 4 4 20 repeat;
	-o-border-image: url(images/result_popup_right.png) 4 4 4 20 repeat;
	border-image: url(images/result_popup_right.png) 4 4 4 20 fill repeat;
}

.bx-filter .bx-filter-popup-result.right { left: 97%; }

.bx-filter .bx-filter-popup-result.left { right: 97%; }

.bx-filter-horizontal .bx-filter-popup-result {
	position: relative;
	right: auto;
	bottom: -7px;
	left: auto;
	display: inline-block;
}

.bx-filter .bx-filter-popup-result a {
	color: #0073a3;
	line-height: 10px;
}

.bx-filter .bx-filter-popup-result a:hover { text-decoration: none; }

.bx-filter .bx-filter-popup-result-close { display: none; }

@media (max-width: 767px) {
	.bx-touch .bx-filter .bx-filter-popup-result {
		position: fixed !important;
		top: auto !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		z-index: 1001;
		margin-top: 0;
		margin-left: 0;
		padding: 10px;
		width: auto;
		height: auto;
		border: 1px solid #c6dae7;
		border-radius: 2px;
		background: rgba(255, 255, 255, .9);
		font-size: 12px;
		line-height: 14px;
	}

	.bx-touch .bx-filter .bx-filter-popup-result br { display: none; }

	.bx-filter .bx-filter-popup-result .arrow { display: none; }
}
.filter-area {padding: 20px; background: #f9f9f9;}
.smartfilter label {font-size: 12px;color: #192e5b;}
.typography-title {font-size: 12px;color: #192e5b;margin-bottom: 5px;font-weight: bold;}