div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.b-text__inner {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 10%;
	left: 0;
	display: block;
	padding-bottom: 0;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}
.b-text__inner .entry-label.bg-second {
	background-color: #2a8cdf;
	margin-right: 15px;
	padding: 9px 10px 6px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: #fff;
}
.entry-main.prom-tour {
	padding: 10px;
}
.prom-tour .entry-title {
	padding-top: 5px;
	padding-right: 0 !important;
}
.mrg-bt-30 {
	margin-bottom: 30px;
}
.prom-tour .b-contacts__icon {
	width: 18px !important;
	font-size: 18px !important;
}
