/* Left menu*/
ul.left-menu
{
	list-style:none;
}


ul.left-menu li a
{
    background: #ffb300;
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 38px;
    border: none;
    border-radius: 0;
    margin-top: 5px;
    display: inline-block;
}


ul.left-menu li a:hover, ul.left-menu li a.selected
{
	background: #26bdf7;
}

