@import url(https://fonts.googleapis.com/css?family=Poppins);@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek-ext,latin-ext);@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i&subset=latin-ext);#range-picker {
  z-index: 1000500 !important;
  display: none;
  position: absolute;
  top: 105%;
  right: 0;
  width: 100%;
  max-width: 180px;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  background: white;
  border: 1px solid #e7e7e7;
  z-index: 100; }
  #range-picker.active {
    display: block; }
  #range-picker table tr td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center; }
    #range-picker table tr td.active {
      background: #bf291c;
      color: white; }
    #range-picker table tr td.active-range {
      background: #ebe9e9; }
  #range-picker .submit {
    background-color: #fdfdfd;
    border: 1px solid #dddddd;
    color: #777777;
    font-size: 14px;
    margin-top: 10px;
    line-height: 24px;
    width: 100%;
    padding: calculateRem(5px) 0;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase; }
    #range-picker .submit:hover {
      background: #c02222;
      color: white; }
    #range-picker .submit:active {
      background: #e62727;
      color: white; }

@media (max-width: 568px) {
  #range-picker {
    max-width: 100%; }
    #range-picker.active {
      position: fixed;
      background: #f6f5f3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      #range-picker.active .h3 {
        position: fixed;
        top: 0;
        font-weight: 300;
        text-align: center;
        left: 0;
        width: 100%;
        background: #e7e5e0;
        padding: 10px;
        color: #222; }
      #range-picker.active .submit {
        max-width: 180px; } }
#country-to {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  min-width: 580px;
  width: 100%;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  background: white;
  border: 1px solid #e7e7e7;
  z-index: 100;
  z-index: 1000500; }
  #country-to .wrap-options {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  #country-to .option {
    display: flex;
    align-items: center; }
    #country-to .option::before {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 2px;
      content: '\E90B';
      margin-right: 6px;
      font-family: "TVicons";
      color: transparent;
      width: 12px;
      height: 12px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 2px; }
    #country-to .option.active::before {
      color: green; }
  #country-to .popular-countries {
    background: #f7f6f6;
    width: 30%;
    border: solid 1px #bbb; }
    #country-to .popular-countries .heading {
      background: #e4e4e4;
      padding: 8px; }
    #country-to .popular-countries .body-option {
      padding: 8px; }
      #country-to .popular-countries .body-option .column {
        padding-top: 4px; }
  #country-to .all-countries {
    background: #ffffff;
    width: 69%; }
    #country-to .all-countries .heading {
      background: #e4e4e4;
      padding: 8px; }
    #country-to .all-countries .body-option {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      color: #868686; }
      #country-to .all-countries .body-option .column {
        padding-top: 4px;
        width: 30%; }
  #country-to.active {
    display: block !important; }

@media (max-width: 568px) {
  #country-to.active {
    position: fixed;
    background: #f6f5f3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex !important;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #country-to.active .h3 {
      position: fixed;
      top: 0;
      font-weight: 300;
      text-align: center;
      left: 0;
      width: 100%;
      background: #e7e5e0;
      padding: 10px;
      color: #222; }
    #country-to.active .wrap-options {
      flex-wrap: wrap; }
    #country-to.active .popular-countries {
      width: 100%;
      margin-bottom: 10px; }
    #country-to.active .all-countries {
      width: 100%; } }
@charset "UTF-8";
@font-face {
  font-family: 'TVicons';
  src: url("//static.tourvisor.ru/fonts/TVicons.eot?155pn4");
  src: url("//static.tourvisor.ru/fonts/TVicons.eot?155pn4#iefix") format("embedded-opentype"), url("//static.tourvisor.ru/fonts/TVicons.ttf?155pn4") format("truetype"), url("//static.tourvisor.ru/fonts/TVicons.woff?155pn4") format("woff"), url("//static.tourvisor.ru/fonts/TVicons.svg?155pn4#TVicons") format("svg");
  font-weight: normal;
  font-style: normal; }

#range-picker {
  z-index: 1000500 !important;
  display: none;
  position: absolute;
  top: 105%;
  right: 0;
  width: 100%;
  max-width: 180px;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  background: white;
  border: 1px solid #e7e7e7;
  z-index: 100; }
  #range-picker.active {
    display: block; }
  #range-picker table tr td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center; }
    #range-picker table tr td.active {
      background: #bf291c;
      color: white; }
    #range-picker table tr td.active-range {
      background: #ebe9e9; }
  #range-picker .submit {
    background-color: #fdfdfd;
    border: 1px solid #dddddd;
    color: #777777;
    font-size: 14px;
    margin-top: 10px;
    line-height: 24px;
    width: 100%;
    padding: calculateRem(5px) 0;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase; }
    #range-picker .submit:hover {
      background: #c02222;
      color: white; }
    #range-picker .submit:active {
      background: #e62727;
      color: white; }

@media (max-width: 568px) {
  #range-picker {
    max-width: 100%; }
    #range-picker.active {
      position: fixed;
      background: #f6f5f3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      #range-picker.active .h3 {
        position: fixed;
        top: 0;
        font-weight: 300;
        text-align: center;
        left: 0;
        width: 100%;
        background: #e7e5e0;
        padding: 10px;
        color: #222; }
      #range-picker.active .submit {
        max-width: 180px; } }

.positon-static {
  position: static !important; }

.bg-white {
  background: white; }

.bg-date {
  background: #fffefee6; }

.d-none {
  display: none !important; }

.ml-0 {
  margin-left: 0 !important; }

#charter .top-charter-form {
  padding: 0.9375rem 1.875rem;
  background: #192e5b; }
  #charter .top-charter-form ul, #charter .top-charter-form li {
    margin: 0;
    padding: 0; }
  #charter .top-charter-form .fight_complexity ul {
    display: flex;
    list-style: none; }
    #charter .top-charter-form .fight_complexity ul li {
      margin-right: 1.25rem; }
      #charter .top-charter-form .fight_complexity ul li::before {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 2px;
        content: '\E90B';
        margin-right: 0.625rem;
        font-family: "TVicons";
        color: #ffffff;
        width: 1.125rem;
        height: 1.125rem;
        font-size: 13px; }
      #charter .top-charter-form .fight_complexity ul li label {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 13px;
        color: white; }
      #charter .top-charter-form .fight_complexity ul li:hover::before {
        color: green; }
      #charter .top-charter-form .fight_complexity ul li.active:before {
        color: green; }
  #charter .top-charter-form .fight_complexity .item {
    width: 120px; }
    #charter .top-charter-form .fight_complexity .item .select {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      border: 1px solid transparent; }
      #charter .top-charter-form .fight_complexity .item .select::after {
        content: '\E95E';
        font-family: 'TVIcons';
        position: absolute;
        color: white;
        right: 5px;
        font-size: 16px;
        line-height: 1.25rem;
        bottom: 0; }
      #charter .top-charter-form .fight_complexity .item .select::before {
        content: '\438\437';
        color: white;
        margin-right: 5px;
        position: relative;
        top: 1px; }
      #charter .top-charter-form .fight_complexity .item .select .selected {
        font-size: 18px;
        display: inline-block;
        border: none;
        cursor: pointer;
        line-height: 1;
        background: transparent;
        color: white;
        display: inline;
        width: 80%; }
      #charter .top-charter-form .fight_complexity .item .select:hover {
        border-bottom: 1px dashed white; }
  #charter .top-charter-form .main-content-items-form {
    width: 100%;
    display: flex;
    align-items: end;
    margin-top: 0.9375rem; }
    #charter .top-charter-form .main-content-items-form .item {
      height: 56px;
      width: 21%;
      background: white;
      position: relative;
      border-right: 1px solid #dddddd;
      display: flex;
      align-items: flex-end; }
      #charter .top-charter-form .main-content-items-form .item:hover {
        background: #f6f6f3; }
        #charter .top-charter-form .main-content-items-form .item:hover input {
          background: #f6f6f3; }
      #charter .top-charter-form .main-content-items-form .item .placeCode {
        font-size: 0.625rem;
        text-transform: uppercase;
        color: #777777;
        font-weight: normal;
        top: 0.625rem;
        right: 0.625rem;
        position: absolute; }
      #charter .top-charter-form .main-content-items-form .item label {
        display: block;
        position: absolute;
        top: 0.625rem;
        left: 0.625rem;
        z-index: 100;
        color: #777777;
        font-size: 10px;
        margin-bottom: 0;
        text-transform: uppercase; }
        #charter .top-charter-form .main-content-items-form .item label::before {
          content: '\E954';
          font-family: "TVicons";
          color: #777777;
          margin-right: 5px; }
      #charter .top-charter-form .main-content-items-form .item input, #charter .top-charter-form .main-content-items-form .item .date {
        margin-bottom: 5px;
        border: none;
        height: 1.875rem;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #333333;
        margin-left: 0.625rem;
        max-width: 90%; }
        #charter .top-charter-form .main-content-items-form .item input:focus, #charter .top-charter-form .main-content-items-form .item .date:focus {
          outline: none; }
      #charter .top-charter-form .main-content-items-form .item.active {
        background: #f6f6f3; }
        #charter .top-charter-form .main-content-items-form .item.active input {
          background: #f6f6f3; }
      #charter .top-charter-form .main-content-items-form .item:nth-child(2) {
        width: 20%; }
        #charter .top-charter-form .main-content-items-form .item:nth-child(2) label::before {
          content: '\E93B'; }
      #charter .top-charter-form .main-content-items-form .item:nth-child(3) {
        width: 22%; }
        #charter .top-charter-form .main-content-items-form .item:nth-child(3) label::before {
          content: '\E942'; }
      #charter .top-charter-form .main-content-items-form .item:nth-child(4) {
        width: 16.5%;
        position: relative; }
        #charter .top-charter-form .main-content-items-form .item:nth-child(4) label::before {
          content: '\E95B'; }
      #charter .top-charter-form .main-content-items-form .item:nth-child(5) {
        width: 100%;
        background: #c02222;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        border: none;
        height: 56px;
        font-weight: 600;
        font-size: 1.125rem;
        color: white;
        text-transform: uppercase; }
        #charter .top-charter-form .main-content-items-form .item:nth-child(5):hover {
          background: #d42626;
          outline: none; }
        #charter .top-charter-form .main-content-items-form .item:nth-child(5):active {
          background: #e62727;
          outline: none; }

@media (max-width: 768px) {
  .top-charter-form .main-content-items-form {
    flex-wrap: wrap;
    justify-content: space-between; }
  #calendarb-charter {
    right: 0;
    left: initial !important; }
  .top-charter-form .main-content-items-form .item {
    width: 49% !important; }
    .top-charter-form .main-content-items-form .item:nth-child(3) {
      margin-top: 1%; }
    .top-charter-form .main-content-items-form .item:nth-child(4) {
      margin-top: 1%; }
    .top-charter-form .main-content-items-form .item:last-child {
      margin-top: 1%;
      width: 100% !important; } }

@media (max-width: 568px) {
  .top-charter-form .main-content-items-form {
    flex-wrap: wrap;
    justify-content: space-between; }
  .top-charter-form .main-content-items-form .item {
    width: 100% !important;
    margin-bottom: 10px; }
    .top-charter-form .main-content-items-form .item:last-child {
      margin-bottom: 0; }
  .h3 {
    position: fixed;
    top: 0;
    font-weight: 300;
    text-align: center;
    left: 0;
    width: 100%;
    background: #e7e5e0;
    padding: 10px;
    color: #222; }
  .close-wrap {
    position: fixed;
    top: 0;
    right: 5%;
    height: 20px;
    width: 20px; }
    .close-wrap::before {
      content: '\437\430\43A\440\44B\442\44C'; }
    .close-wrap::after {
      content: '\E913';
      font-family: "TVicons";
      font-size: 20px;
      color: #222;
      transform: rotate(45deg); } }
#counterPeople {
  display: none;
  position: absolute;
  top: 105%;
  right: 0;
  z-index: 1000500;
  width: 100%; }
  #counterPeople.active {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 100 !important;
    display: block; }
  #counterPeople .options {
    width: 100%;
    min-width: 250px;
    border-radius: 0 !important;
    cursor: pointer;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8rem;
    background: white;
    border: 1px solid #e7e7e7; }
    #counterPeople .options .submit {
      background-color: #fdfdfd;
      border: 1px solid #dddddd;
      color: #777777;
      font-size: 14px;
      line-height: 24px;
      width: 100%;
      padding: 0.3125rem 0;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase; }
      #counterPeople .options .submit:hover {
        background: #c02222;
        color: white; }
      #counterPeople .options .submit:active {
        background: #e62727;
        color: white; }
    #counterPeople .options .option {
      padding: 0 0 1rem 0; }
      #counterPeople .options .option label.count {
        position: relative;
        width: 100%;
        top: 0;
        left: 0; }
        #counterPeople .options .option label.count::before {
          content: ''; }
      #counterPeople .options .option .clear {
        position: absolute;
        transform: rotate(45deg);
        right: 0;
        top: 0; }
        #counterPeople .options .option .clear::after {
          content: '\E913';
          font-family: "TVicons"; }
        #counterPeople .options .option .clear:active {
          color: #e62727; }
      #counterPeople .options .option .form-count-people {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.4375rem 0.25rem;
        background-color: #F0F0F0;
        border-bottom: 1px solid #D1D0D0;
        border-top: 1px solid #D1D0D0; }
        #counterPeople .options .option .form-count-people .button-count-people {
          background: url(img/sprite.png);
          width: 16px;
          height: 31px;
          background-image: url(//tourvisor.ru/module/newform/images/sprite.png);
          background-position: -33px -39px; }
          #counterPeople .options .option .form-count-people .button-count-people:hover {
            background-position: -33px -76px; }
          #counterPeople .options .option .form-count-people .button-count-people.active {
            background-position: -33px -76px !important; }
          #counterPeople .options .option .form-count-people .button-count-people:nth-child(2) {
            width: 29px;
            background-position: -51px -39px; }
            #counterPeople .options .option .form-count-people .button-count-people:nth-child(2):hover {
              background-position: -51px -76px; }
            #counterPeople .options .option .form-count-people .button-count-people:nth-child(2).active {
              background-position: -51px -76px    !important; }
          #counterPeople .options .option .form-count-people .button-count-people:nth-child(3) {
            width: 43px;
            background-position: -80px -39px; }
            #counterPeople .options .option .form-count-people .button-count-people:nth-child(3):hover {
              background-position: -80px -76px; }
            #counterPeople .options .option .form-count-people .button-count-people:nth-child(3).active {
              background-position: -80px -76px    !important; }
          #counterPeople .options .option .form-count-people .button-count-people:nth-child(4) {
            width: 56px;
            background-position: -121px -39px; }
            #counterPeople .options .option .form-count-people .button-count-people:nth-child(4):hover {
              background-position: -122px -76px; }
            #counterPeople .options .option .form-count-people .button-count-people:nth-child(4).active {
              background-position: -122px -76px   !important; }
      #counterPeople .options .option:nth-child(3) .form-count-people {
        justify-content: space-evenly; }
        #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people {
          height: 19px;
          background-position: 169px 88px; }
          #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:hover {
            background-position: 169px 65px; }
          #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people.active {
            background-position: 169px 65px !important; }
          #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2) {
            width: 24px;
            background-position: 155px 88px; }
            #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2):hover {
              background-position: 155px 65px; }
            #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2).active {
              background-position: 155px 65px !important; }
          #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3) {
            width: 34px;
            background-position: 133px 88px; }
            #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3):hover {
              background-position: 133px 65px; }
            #counterPeople .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3).active {
              background-position: 133px 65px !important; }
      #counterPeople .options .option:nth-child(4) .form-count-people {
        justify-content: space-evenly; }
        #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people {
          height: 19px;
          background-position: 169px 88px; }
          #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:hover {
            background-position: 169px 65px; }
          #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people.active {
            background-position: 169px 65px !important; }
          #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2) {
            width: 24px;
            background-position: 155px 88px; }
            #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2):hover {
              background-position: 155px 65px; }
            #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2).active {
              background-position: 155px 65px !important; }
          #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3) {
            width: 34px;
            background-position: 133px 88px; }
            #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3):hover {
              background-position: 133px 65px; }
            #counterPeople .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3).active {
              background-position: 133px 65px !important; }

@media (max-width: 568px) {
  #counterPeople.active {
    position: fixed;
    background: #f6f5f3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    #counterPeople.active .h3 {
      position: fixed;
      top: 0;
      font-weight: 300;
      text-align: center;
      left: 0;
      width: 100%;
      background: #e7e5e0;
      padding: 10px;
      color: #222; } }
#calendarb-charter {
  z-index: 1000500000 !important;
  width: 25rem;
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  z-index: 100;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  transition: visibility 0.1s, opacity s; }
  #calendarb-charter .ui-datepicker {
    background: white;
    border: 1px solid #e7e7e7;
    z-index: 100050000000; }
  #calendarb-charter .ui-datepicker-header {
    position: relative;
    height: 3rem;
    background-color: #c02222; }
    #calendarb-charter .ui-datepicker-header a {
      position: absolute;
      right: 10px;
      background-image: url(img/right-arrow.svg);
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 1rem; }
      #calendarb-charter .ui-datepicker-header a:first-child {
        left: 15px;
        transform: rotate(180deg); }
    #calendarb-charter .ui-datepicker-header .ui-datepicker-title {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2.9rem;
      color: white; }
  #calendarb-charter .ui-datepicker-calendar {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    #calendarb-charter .ui-datepicker-calendar th {
      text-align: center; }
    #calendarb-charter .ui-datepicker-calendar td {
      text-align: center;
      height: 2rem;
      width: 2rem; }
      #calendarb-charter .ui-datepicker-calendar td a {
        font-weight: 300;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        color: #333333;
        width: 100%;
        height: 100%;
        display: block;
        background: transparent;
        line-height: 30px; }
      #calendarb-charter .ui-datepicker-calendar td .ui-state-active {
        color: white;
        font-weight: 500;
        background: #c02222; }
      #calendarb-charter .ui-datepicker-calendar td:hover {
        background-color: #ebe9e9; }
  #calendarb-charter.active {
    display: block; }

@media (max-width: 568px) {
  #calendarb-charter.active {
    position: fixed;
    background: #f6f5f3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000; }
    #calendarb-charter.active .h3 {
      position: fixed;
      top: 0;
      font-weight: 300;
      text-align: center;
      left: 0;
      width: 100%;
      background: #e7e5e0;
      padding: 10px;
      color: #222; }
    #calendarb-charter.active .ui-datepicker {
      background: transparent;
      border: transparent; }
    #calendarb-charter.active .ui-datepicker-header {
      position: relative;
      height: 3rem;
      background-color: transparent; }
      #calendarb-charter.active .ui-datepicker-header a {
        position: absolute;
        border: none;
        right: 10px;
        background-image: url(img/right-arrow-black.svg);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem; }
        #calendarb-charter.active .ui-datepicker-header a:first-child {
          left: 15px;
          transform: rotate(180deg); }
      #calendarb-charter.active .ui-datepicker-header .ui-datepicker-title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.9rem;
        color: black; }
    #calendarb-charter.active .ui-datepicker-calendar {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      #calendarb-charter.active .ui-datepicker-calendar th {
        text-align: center; }
      #calendarb-charter.active .ui-datepicker-calendar td {
        text-align: center;
        height: 2rem;
        width: 2rem; }
        #calendarb-charter.active .ui-datepicker-calendar td a {
          font-weight: 300;
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          color: #333333;
          width: 100%;
          height: 100%;
          display: block;
          background: transparent;
          line-height: 30px; }
        #calendarb-charter.active .ui-datepicker-calendar td .ui-state-active {
          color: white;
          font-weight: 500;
          background: #c02222; }
        #calendarb-charter.active .ui-datepicker-calendar td:hover {
          background-color: #ebe9e9; }
    #calendarb-charter.active .ui-datepicker {
      width: 80%; } }
#country-from {
  width: 100%;
  position: relative;
  display: none;
  z-index: 10000000; }
  #country-from.active {
    display: block; }
  #country-from .options {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    min-width: 150px;
    border-radius: 0 !important;
    cursor: pointer;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8rem;
    background: white;
    border: 1px solid #e7e7e7; }
    #country-from .options .submit {
      background-color: #fdfdfd;
      border: 1px solid #dddddd;
      color: #777777;
      font-size: 14px;
      line-height: 24px;
      width: 100%;
      padding: 0.3125rem 0;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase; }
      #country-from .options .submit:hover {
        background: #c02222;
        color: white; }
      #country-from .options .submit:active {
        background: #e62727;
        color: white; }
    #country-from .options .option {
      padding: 0 0 1rem 0; }
      #country-from .options .option::before {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 2px;
        content: '\E90B';
        margin-right: 10px;
        font-family: "TVicons";
        color: #ffffff;
        width: 18px;
        height: 18px;
        font-size: 13px; }
      #country-from .options .option:last-child {
        padding: 0; }
      #country-from .options .option.active::before {
        color: green; }
      #country-from .options .option label.count {
        position: relative;
        width: 100%;
        top: 0;
        left: 0; }
      #country-from .options .option .clear {
        position: absolute;
        transform: rotate(45deg);
        right: 0;
        top: 0; }
        #country-from .options .option .clear::after {
          content: '\E913';
          font-family: "TVicons"; }
        #country-from .options .option .clear:active {
          color: #e62727; }
