/*.b-post-full .entry-footer .post-tags {
  float: left;
  width: auto;
  display: flex;
  align-items: center;
  line-height: 13px;
  margin-right: 15px; }

.b-post-full .entry-footer__social {
  float: right;
  line-height: 26px; }

.img-responsive {
  width: 100%; }

.ts-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.ts-d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.ts-column {
  width: 30%; }

li.ts-column {
  margin-right: 15px;
  margin-left: 15px; }

.width-33 {
  width: 33.7%; }

@media (max-width: 769px) {
  .mt-3 {
    margin: 3rem 0 0 0; }
  .ts-column {
    width: 50%; } }

@media (max-width: 420px) {
  .ts-column {
    width: 100%; } }

/*
  


.ts_section--content{
    width:100%;
    
    img{
        width:100%;
        

    }
    p{
        padding: 1rem 5%;
        font-size: 18px !important;
        font-weight: 200px;
        line-height: 24px;
        letter-spacing: 1.1px;
        color: #464646;
        font-weight: 200 !important;
        
        
        b{   
            img{
                margin-right: -5%;
                margin-left: -5%;
                width:110%;
            }
        }
    }
    h3,h4{
        
        margin:5rem 0 2rem;
        
    }
    .ts_news--headeing-list{
        font-weight: 600 !important;
        padding-bottom: 0 !important;
    }
    ul{
        padding: 1rem 10%;
        li{     margin-bottom: 2rem;
            font-size: 18px !important;
            font-weight: 200px;
            line-height: 24px;
            letter-spacing: 1.1px;
            color: #464646;
            font-weight: 200 !important;
       
    }
    }
   
}
*/
