@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://fonts.googleapis.com/css?family=Poppins);@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek-ext,latin-ext);@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i&subset=latin-ext);.AppFormTravelSoft {
}
.AppFormTravelSoft .ts-active-form {
  background: #152e5d !important;
  color: white !important;
  font-size:16px;}
.AppFormTravelSoft .bg-transparent {
  background: transparent !important; }
#react-form-tio {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;}
#react-from-tio h2{
  font-size:18px;
}
[aria-selected="false"]{
  font-size:16px !important;
}
button[tabindex="0"]  span{
  font-size:16px;
}
#react-form-tio #charter-form-tio.Inputter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 2%;
  background: #192e5b;
  position: relative; }
#react-form-tio #charter-form-tio.Inputter .topContainer {
  width: 100%; }
#react-form-tio #charter-form-tio.Inputter .topContainer .item {
  width: 20%;
  background: none;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  position: relative; }
#react-form-tio #charter-form-tio.Inputter .topContainer .item input {
  background: transparent;
  color: white;
  border: none;
  height: 22px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  outline: none;
  width: 100%;
  overflow: hidden; }
#react-form-tio #charter-form-tio.Inputter .topContainer .item label {
  display: none; }
#react-form-tio #charter-form-tio.Inputter .topContainer .item .placeCode {
  display: none; }
#react-form-tio #charter-form-tio.Inputter .topContainer .item:before {
  content: '\438\437';
  color: white;
  margin-right: 10px;
  /*! margin-bottom: 2px; */ }
#react-form-tio #charter-form-tio.Inputter .topContainer .item:after {
  content: '\E95E';
  font-family: 'TVIcons';
  color: white;
  font-size: 16px;
  line-height: 1.25rem; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer {
  width: 100%;
  display: flex;
  /*! flex-wrap: wrap; */
  box-sizing: border-box; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .submit {
  background: #c02222 !important;
  border-radius: 0;
  position: relative;
  right: 1px;
  padding: 8px 22px;
  font-size: 1rem;
  color: white;
  width: 25%;
  min-height: 56px;
}
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item {
  height: 56px;
  background: white;
  position: relative;
  width: 20%;
  border-right: 1px solid #dddddd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 22px 8px; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item.disabled {
  background: #f6f6f3; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item.error label {
  color: #f44336; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item.error label:before {
  color: #f44336; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item.error input, #react-form-tio #charter-form-tio.Inputter .bottomContainer .item.error .placeCode {
  color: #f44336; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item label {
  display: block;
  position: absolute;
  top: 10px;
  left: 22px;
  z-index: 100;
  color: #777777;
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item label::before {
  content: '\E954';
  font-family: "TVicons";
  color: #777777;
  margin-right: 5px; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item input {
  border: none;
  height: 22px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #333333;
  background: transparent;
  outline: none;
  max-width: 100%; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item .placeCode {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #777777;
  font-weight: normal;
  top: 10px;
  right: 22px;
  position: absolute; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item:nth-child(2) label::before {
  content: '\E93B'; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item:nth-child(3) label::before {
  content: '\E942'; }
#react-form-tio #charter-form-tio.Inputter .bottomContainer .item:nth-child(4) label::before {
  content: '\E95B'; }
#react-form-tio #charter-form-tio.Inputter div[x-placement*="bottom-start"] {
  position: absolute;
  top: 31px !important;
  left: -23px !important; }
#react-form-tio #charter-form-tio.Inputter div[x-placement*="bottom-start"] > * {
  background: red;
  font-size: 16px; }
#react-form-tio .range-picker {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }
#react-form-tio .range-picker td {
  height: 48px;
  width: 30px; }
#react-form-tio .range-picker .active {
  background: #f44336;
  border-radius: 50px;
  color: white; }
#react-form-tio .range-picker .range {
  background: #ebebeb;
  border-radius: 50px; }
#react-form-tio .range-picker .w-100 {
  width: 100%; }
#react-form-tio .range-picker .mt-1 {
  margin-top: 1rem; }

#react-form-tio .loader-charter-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
#react-form-tio .loader-charter-form .not-loading {
  width: 100%;
  height: 4px; }
#react-form-tio .ts-counter-people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px; }
#react-form-tio .ts-counter-people label {
  width: 30%; }
#react-form-tio .ts-counter-people .counter {
  width: 70%;
  display: flex;
  justify-content: space-around; }
#react-form-tio .ts-counter-people .counter label, #react-form-tio .ts-counter-people .counter .placeCode {
  display: none; }
#react-form-tio .ts-counter-people .counter button {
  width: 40px;
  height: 40px; }
#react-form-tio .ts-counter-people .counter input {
  width: 20%;
  font-size: 18px;
  text-align: center; }
#react-form-tio .ts-counter-people:last-child {
  margin-bottom: 0; }

@media (max-width: 1026px) {
  #search-form-tio .bottomContainer{
    flex-wrap:wrap;
  }
  #search-form-tio .bottomContainer .item {
    width: 20.4%;
    margin-bottom: 1rem; }
  #search-form-tio .bottomContainer .submit {
    width: 100%;
    height: 56px; }
}

@media (max-width: 769px) {
  #search-form-tio .bottomContainer {
    justify-content: space-between; }
  #search-form-tio .bottomContainer .item {
    width: 43%;
    margin-bottom: 1rem; }
  #search-form-tio .bottomContainer .submit {
    width: 100%;
    height: 64px; } }

@media (max-width: 570px) {
  #search-form-tio .topContainer .item {
    width: 100%; }
  #search-form-tio .bottomContainer .item {
    width: 100%; } }
#air-form-tio.Inputter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #192e5b;
  position: relative;
  justify-content: center; }
#air-form-tio.Inputter .topContainer {
  width: 96%;
  margin: 15px auto 0;
  display: flex;
  font-size: 14px;
}
#air-form-tio.Inputter .topContainer button {
  color: white;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
#air-form-tio.Inputter .topContainer button::before {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 2px;
  content: '\E90B';
  margin-right: 0.625rem;
  font-family: "TVicons";
  color: #ffffff;
  width: 1.125rem;
  height: 1.125rem;
  font-size: 0.8125rem;
}
#air-form-tio.Inputter .topContainer button.active::before {
  color: green; }
#air-form-tio.Inputter .bottomContainer {
  width: 96%;
  margin: 15px auto;
  display: flex;
  box-sizing: border-box; }
#air-form-tio.Inputter .bottomContainer .submit {
  background: #c02222 !important;
  border-radius: 0;
  position: relative;
  right: 1px;
  padding: 8px 22px;
  font-size: 1rem;
  color: white;
  width: 100%;
  min-height: 56px;
}
#air-form-tio.Inputter .bottomContainer .item {
  height: 56px;
  background: white;
  position: relative;
  width: 20%;
  border-right: 1px solid #dddddd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 22px 8px; }
#air-form-tio.Inputter .bottomContainer .item button {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#air-form-tio.Inputter .bottomContainer .item .drop_down {
  position: absolute;
  width: 150%;
  height: auto;
  top: 80%;
  left: 0;
  overflow-y: scroll;
  z-index: 100500 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }
#air-form-tio.Inputter .bottomContainer .item .drop_down .drop_down_list {
  background: white;
  max-height: 200px;
  border: 1px solid #e7e7e7;
  width: 100%;
  list-style: none;
  overflow: scroll;
  padding: 0; }
#air-form-tio.Inputter .bottomContainer .item .drop_down .drop_down_list li {
  padding: 10px 10px; }
#air-form-tio.Inputter .bottomContainer .item .drop_down .drop_down_list li:hover {
  background: #dbdbdb; }
#air-form-tio.Inputter .bottomContainer .item.disabled {
  background: #f6f6f3; }
#air-form-tio.Inputter .bottomContainer .item.error label {
  color: #f44336; }
#air-form-tio.Inputter .bottomContainer .item.error label:before {
  color: #f44336; }
#air-form-tio.Inputter .bottomContainer .item.error input, #air-form-tio.Inputter .bottomContainer .item.error .placeCode {
  color: #f44336; }
#air-form-tio.Inputter .bottomContainer .item label {
  display: block;
  position: absolute;
  top: 10px;
  left: 22px;
  z-index: 100;
  color: #777777;
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300; }
#air-form-tio.Inputter .bottomContainer .item label::before {
  content: '\E954';
  font-family: "TVicons";
  color: #777777;
  margin-right: 5px; }
#air-form-tio.Inputter .bottomContainer .item input {
  border: none;
  height: 22px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #333333;
  background: transparent;
  outline: none;
  max-width: 100%; }
#air-form-tio.Inputter .bottomContainer .item .placeCode {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #777777;
  font-weight: normal;
  top: 10px;
  right: 22px;
  position: absolute; }
#air-form-tio.Inputter .bottomContainer .item:nth-child(4) label::before {
  content: '\E93B'; }
#air-form-tio.Inputter .bottomContainer .item:nth-child(5) label::before {
  content: '\E93B'; }
#air-form-tio.Inputter .footerContainer {
  margin-top: 5px;
  background: white;
  width: 100%;
  padding: 15px 2%;
  display: flex;
  flex-wrap: wrap; }
#air-form-tio.Inputter .footerContainer .item {
  width: 20%;
  margin-right: 3%;
  position: relative;
  font-size: 14px;
}
#air-form-tio.Inputter .footerContainer .item::after {
  content: '\E95E';
  font-family: 'TVIcons';
  position: absolute;
  right: 4px;
  font-size: 16px;
  line-height: 1.25rem;
  bottom: 7px; }
#air-form-tio.Inputter .footerContainer .item input {
  width: 100%;
  height: 31px;
  border: 1px solid #e6eeef;
  padding-left: 10px; }
#air-form-tio.Inputter div[x-placement*="bottom-start"] {
  position: absolute;
  top: 31px !important;
  left: -23px !important; }
#air-form-tio.Inputter div[x-placement*="bottom-start"] > * {
  background: red;
  font-size: 16px; }

.range-picker {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }
.range-picker td {
  height: 48px;
  width: 30px; }
.range-picker .active {
  background: #f44336;
  border-radius: 50px;
  color: white; }
.range-picker .range {
  background: #ebebeb;
  border-radius: 50px; }
.range-picker .w-100 {
  width: 100%; }
.range-picker .mt-1 {
  margin-top: 1rem; }

#responsive-dialog-title {
  min-width: 250px; }

.loader-charter-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
.loader-charter-form .not-loading {
  width: 100%;
  height: 4px; }

.ts-counter-people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px; }
.ts-counter-people label {
  width: 30%; }
.ts-counter-people .counter {
  width: 70%;
  display: flex;
  justify-content: space-around; }
.ts-counter-people .counter label, .ts-counter-people .counter .placeCode {
  display: none; }
.ts-counter-people .counter button {
  width: 40px;
  height: 40px; }
.ts-counter-people .counter input {
  width: 20%;
  font-size: 18px;
  text-align: center; }
.ts-counter-people:last-child {
  margin-bottom: 0; }

@media (max-width: 1026px) {
  #react-form-tio #charter-form-tio.Inputter .bottomContainer{
    flex-wrap:wrap;
  }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer .item{
    width:20%;
  }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer .submit{
    width:20%;
  }
  #search-form-tio .bottomContainer .item {
    width: 20.4%;
    margin-bottom: 1rem; }
  #search-form-tio .bottomContainer .submit {
    width: 100%;
    height: 56px; }
  #air-form-tio.Inputter .footerContainer .item{
    width:30%;
  }
}

@media (max-width: 769px) {
  #search-form-tio .bottomContainer {
    justify-content: space-between; }
  #search-form-tio .bottomContainer .item {
    width: 43%;
    margin-bottom: 1rem; }
  #search-form-tio .bottomContainer .submit {
    width: 100%;
    height: 64px; }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer{
    flex-wrap:wrap;
    justify-content:space-between;
  }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer .item{
    width:49.5%;
    margin-bottom:1%
  }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer .submit{
    width:100%;
  }
  #air-form-tio.Inputter .bottomContainer{
    flex-wrap:wrap;
    justify-content:space-between;
  }
  #air-form-tio.Inputter .bottomContainer .item{
    width: 44%;
    margin-bottom:1%;
  }
  #air-form-tio.Inputter .bottomContainer .item:nth-child(2){
    width:10%;
  }
  #air-form-tio.Inputter .footerContainer .item{
    width:30%;
  }
}

@media (max-width: 570px) {
  #search-form-tio .topContainer .item {
    width: 100%; }
  #search-form-tio .bottomContainer .item {
    width: 100%; }
  #react-form-tio #charter-form-tio.Inputter .topContainer .item{
    width:70%;
  }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer .item{
    width:100%;
    margin-bottom:1%
  }
  #react-form-tio #charter-form-tio.Inputter .bottomContainer .submit{
    width:100%;
  }
  #air-form-tio.Inputter .bottomContainer{
    flex-wrap:wrap;
    justify-content:center;
  }
  #air-form-tio.Inputter .bottomContainer .item{
    width:100%;
    margin-bottom:1%;
  }
  #air-form-tio.Inputter .bottomContainer .item:nth-child(2) {
    width:12%;
    min-width: 70px;
  }
  #air-form-tio.Inputter .bottomContainer .item:nth-child(2) svg{
    transform: rotate(90deg);
  }
  #air-form-tio.Inputter .footerContainer .item{
    width:40%;
  }
}
@media (max-width:420px){
  #air-form-tio.Inputter .footerContainer .item {
    width: 100%;
    margin-bottom: 10px;
  }
}
.bg-red {
  background: red; }



.ts-item-width {
  width: 6%; }

.ts-day-selected {
  background: red; }
@font-face {
  font-family: 'TVicons';
  src: url("//static.tourvisor.ru/fonts/TVicons.eot?155pn4");
  src: url("//static.tourvisor.ru/fonts/TVicons.eot?155pn4#iefix") format("embedded-opentype"), url("//static.tourvisor.ru/fonts/TVicons.ttf?155pn4") format("truetype"), url("//static.tourvisor.ru/fonts/TVicons.woff?155pn4") format("woff"), url("//static.tourvisor.ru/fonts/TVicons.svg?155pn4#TVicons") format("svg");
  font-weight: normal;
  font-style: normal; }

#react-result-charter-tio .charter-list {
  width: 100%; }
#react-result-charter-tio .charter-list .border-none {
  border-radius: 0; }
#react-result-charter-tio .charter-list .color-submit {
  background: #c02222; }
#react-result-charter-tio .charter-list .item-charter-list {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 30px);
  border: 1px solid #dcdcdd;
  background: white;
  margin: 0 0 2rem; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 {
  width: 25%;
  border-right: 1px solid #dcdcdd;
  box-sizing: border-box; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .header-charter-list {
  background: #f9f9f9;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .header-charter-list svg {
  padding: 10px;
  width: 18px;
  height: 18px; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .header-charter-list .h3 {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  padding: 0;
  margin: 0; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list ul {
  list-style: none;
  padding: 0 15px; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list ul li {
  display: flex;
  align-items: center;
  margin: 3px 0;
  color: black; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list ul li span:last-child {
  margin-left: 10px; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list .submit-charter-list {
  float: right;
  margin: 20px;
  display: flex;
  flex-wrap: wrap; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list .submit-charter-list button {
  background: #c02222 !important;
  border-radius: 0;
  position: relative;
  right: 1px;
  padding: 10px 20px;
  font-size: 1rem; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list .submit-charter-list span.price {
  display: block;
  text-align: center;
  /* margin-bottom: 10px; */
  font-size: 2rem;
  padding: 6px 20px;
  background: #f9f9f9;
  border: 1 px solid;
  border: 1px solid #dcdcdd; }
#react-result-charter-tio .charter-list .item-charter-list .col-50 .body-filter-charter-list .submit-charter-list button span {
  color: white; }
#react-result-charter-tio .charter-list .item-charter-list .col-50:last-child {
  width: 50%;
  border: none; }
#react-result-charter-tio .charter-list .item-charter-list .col-50:last-child .body-filter-charter-list ul {
  margin-top: 10px; }

.mt-0 {
  margin-top: 0 !important; }

@media (max-width: 768px) {
  #search-form-tio .charter-list .item-charter-list .col-50 {
    width: 100%; } }

/* DayPicker styles */

.DayPicker {display: flex;font-size: 14px;width: 103%;height: 100%;outline: none;}

.DayPicker-wrapper {position: relative;flex-direction: row;padding-bottom: 1em;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;outline: none;}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  margin: 0 1em;
  margin-top: 1em;
  border-spacing: 0;
  border-collapse: collapse;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: auto;

  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8B9898;
  cursor: pointer;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  display: table-caption;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  text-align: left;
}

.DayPicker-Caption > div {
  font-weight: 500;
  font-size: 1.15em;
}

.DayPicker-Weekdays {
  display: table-header-group;
  margin-top: 1em;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5em;
  color: #8B9898;
  text-align: center;
  font-size: 0.875em;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;
  padding: 0.5em;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5em;
  min-width: 1em;
  border-right: 1px solid #EAECEC;
  color: #8B9898;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75em;
  cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5em;
}

.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4A90E2;
  font-size: 0.875em;
  cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: #D0021B;
  font-weight: 700;
}

.DayPicker-Day--outside {
  color: #8B9898;
  cursor: default;
}

.DayPicker-Day--disabled {
  color: #DCE0E0;
  cursor: default;
  /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #F7F8F8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #DCE0E0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;

  background-color: #4A90E2;
  color: #F0F8FF;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51A0FA;
}

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #F0F8FF;
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  position: absolute;
  left: 0;
  z-index: 1;

  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


/*# sourceMappingURL=style.css.map*/
#responsive-dialog-title {
  min-width: 320px;
  background: #bf291c;
  color: white;
  margin-bottom: 20px;
}
#responsive-dialog-title h2{
  font-size: 32px;
  color: white;
  /* margin-bottom: 23px; */
  padding: 20p;
}
#responsive-dialog-title > * {
  /* font-size: 32px !important; */
}

.font-size-24 label span{
  font-size:16px;
}
button[tabindex="0"] span {
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}