.icon.angle-right:before {
    font-size: 35px;
    font-family: FontAwesome;
    content: '\f105';
}
.icon.angle-left:before {
    font-size: 35px;
    font-family: FontAwesome;
    content: '\f104';
}