div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.slider-pro {
	/*height: 550px;*/
	width: 740px !important;
}
.nav-tabs_top-header {
	margin-top: 20px !important;
}
.nav-tabs_top-header li {
	border-bottom: 1px solid #7b7d7f;
	border-right: 1px solid #7b7d7f;
	padding-left: 10px;
	font-size: 15px !important;
}
.nav-tabs_top-header li.active {
	border-color: #9d2222;
}
.widget-content {
	font: 13px/1.8571 sans-serif;
}
.entry-content h3 {
	margin-top: 40px;
	margin-bottom: 10px;
}
.fixed {
	position: fixed;
	top: 40px;
}
.table-container {
	margin-bottom: 30px;
}