div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.testimonial-item {
	margin: 0 !important;
	padding-bottom: 0 !important;
}
.testimonial-item .entry-main {
	padding: 40px 20px 20px 20px;
	background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.85) 100%);
	background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.85) 100%);
	position: absolute;
	bottom: 0px;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.25;
	width: 100%;
}
.testimonial-item .entry-main .entry-title span {
	color: white;
}
.testimonial-item .entry-main .entry-title {
	font-size: 17px;
}
.testimonial-item {
	max-width: 380px !important;
}
.text-block-shares {
	height: 72px;
}
.fhotels .price small {
	padding: 0;
	margin: 0;
	display: table-cell;
	vertical-align: top;
	line-height: 30px;
	height: 25px;
	padding-right: 3px;
	color: lightslategray;
}