nav ul li{
	list-style: none;
	font-size: 13px;
	text-transform: uppercase;

}
nav ul li a{
	color: #162f5c;
}
nav ul li a:hover{
	color: #bf2a1c;
}
.footer__links a{
	color: #162f5c;
}
.footer__links a:hover{
	color: #bf2a1c;
}
.ts-dropdown__links{
	padding-left: 0;
	right: 0;
	background: white;
	border-color: lightgrey;
}
.ts-dropdown__links li{
	padding-bottom: 0.5rem;
}

@media screen and(min-width: 993px) {
	.menu-close{
		display: none;
	}
}
@media screen and (max-width: 992px) {
	.menu-close{
		display: block;
		position: absolute;
		top: 16px;
		right: 28px;
	}
	.menu-close svg{
		fill: #162f5c;
	}
	.menu{
		position: absolute;
		right: -1000px;
		top: 56px;
		background: rgb(249, 249, 249);
		width: 320px;
		height: 100vh;
		/* padding: 40px; */
		box-sizing: 1px 1px 1px black;
		transition: right 0.5s;
		f;
	}
	.menu li{
		/* margin: 10px 0; */
		border-bottom: 1px solid #dadada;
		padding: 10px 0;
	}
	.menu li a{
		font-size: 16px;
		color: #3c3b3b;
		margin: 0 0rem;
		/* border: 1px solid; */
	}
	.active-mobile{
		right: 0;
		transition: right 0.5s;
		padding: 0 20px;
	}
	.ts-dropdown__links{
		background: transparent;
		border: none;

	}
	.ts-dropdown__links li{
		padding-bottom: 0 !important;
	}
	.ts-dropdown__links.ts-p-2{
		padding: 0 1rem  !important;
		/* height: 0; */
		display: none;
	}
}

@media  screen and (max-width: 568px){
	.menu{
		width: 100vw;
	}

}