.tag {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
	line-height: 25px;
	position: relative;
	display: inline-block;
	padding: 0 10px 0 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	text-transform: capitalize;
	/*color: #267ac6;
	border: 1px solid #efefef;
	border-radius: 3px;*/
	font-weight: 600;
}