.search-suggest {height:33px; border:1px solid #192e5b; background-color:#fff; font-size:15px;width:70%; padding-left:5px;}
.input-button {height:37px; border:1px solid #192e5b; background-color:#fff; font-size:15px;width:15%; cursor:pointer;text-transform:uppercase;}
.input-button:hover {background-color:#192e5b; color:#fff;}
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
.search-page > p {
    font-size: 14px;
}
.search-page > small {
    font-size: 12px;
}
.search-page > hr {
    float:none !important; opacity:1 !important; color:#CDCDCD; margin-bottom: 10px !important;
}
.search-suggest.form-control {
    width: 75% !important;
    display: inline-block;
}