div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.home_articles.moreLM {
	text-align: right;
	padding-top: 10px;
}
article::after{
	content: '';
	display: block;
	background-image: linear-gradient(to top, #051937, #06234d, #0b2e65, #13387c, #1f439500);
	position: absolute;
	height: 50%;
	width: 100%;
	bottom: 0px;
	opacity: 0.4;
	z-index: -1;
}